{% extends 'partials/base.html' %}
{% load static %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}

    <!-- Header -->  

          <!-- Card stats -->
          <div class="row">
           <div class="col-xl-3 col-md-3 mb-4">
              <div class="card bg-primary text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0"> Products</h5>
                      <span class="h4 font-weight-bold mb-0">{{ total_categories }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-success">
                        <img src="{% static 'images/products.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
            
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-success text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0">Profits</h5>
                      <span class="h4 font-weight-bold mb-0">{{ profit|floatformat:2 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-success rounded-circle ">
                        <img src="{% static 'images/profit.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="card bg-danger text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">Losses</h5>
                      <span class="h4 font-weight-bold mb-0">{{ loss|floatformat:2 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-success rounded-circle ">
                        <img src="{% static 'images/loss.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-info text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0">Latest Sale</h5>
                      {% if latest_sale %}
                        <span class="h4 font-weight-bold mb-0">
                          UGX {{ latest_sale.totalSellingPrice }} 
                        </span><br>
                      
                      {% else %}
                        <span class="text-muted">No sales yet.</span>
                      {% endif %}
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-success rounded-circle ">
                        <img src="{% static 'images/sales 2.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            
            <div class="col-xl-3 col-md-6">
              <div class="card bg-warning text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">Expenses</h5>
                      <span class="h4 font-weight-bold mb-0">  UGX {{ total_expenses }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-success ">
                        <img src="{% static 'images/expense.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
                      </div>
                    </div>
                  </div>
               
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="card bg-secondary text-white card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0"> Users</h5>
                      <span class="h4 font-weight-bold mb-0">{{ total_users }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-success ">
                        <img src="{% static 'images/user.png' %}" alt="Product Icon" style="width: 35px; height: 35px; margin-right: 8px;">
                      </div>
                    </div>
                  </div>
               
                </div>
              </div>
            </div>
           
          
          </div>
        </div>
      </div>
    </div>
 </div> 

 



    {% endblock %}


<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.2.0/mdb.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    initMDB({ Modal, Ripple });
  });
</script>

{% endblock javascripts %}


